body {
	font: 62.5% "Trebuchet MS", sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.titleSoftware {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #032E65;
}
.subtitleSoftware {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold
}
.hideOnLoad {
        display: none;
}
.linkAlerta{	
	color: white;
	text-align: center;
	width: 100%;
	text-decoration: none;
	margin:0;
	padding:3px;
}
.label{
	font-weight: bold;
	padding-right: 5px;
}
.labelRed{
	font-size: 10px;
	font-weight: bold;
	color:#FF0000;
}
.labelv{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.labelDuplicado{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}
.valueLabel{
	padding-right: 10px;
}
.unSelectedMonth{
	background-color: #F0F0F0;
}
.selectedMonth{
	background-color: #FFFFFF;
}
.textAlignRight{
	text-align: right;
}
.textCenter{
	text-align: center;
}
.textRed{
	color: red;	
}
.alignmentLeft {
 text-align : left;
 border: 1px solid black;
 background-color: orange;
}
.scrolls{
    width:300px;
    height:50px;
    overflow:auto;
}
.alignmentRight {
 text-align : right;
 border: 1px solid black;
 background-color: lime;
}
.alerta {background:#d40000;margin:0 auto;padding:0;width:57px;border-radius:4px;-moz-border-radius: 4px; -webkit-border-radius : 4px;}  
.textAlerta {margin:0;padding:3px;color:#fff;font-weight: bold;
	text-align: center;}  
#app-header-off {
    background: #7F99BE url(/LSAWebOperaciones/resources/es/images/icons/layout-browser-hd-bg.gif) repeat-x center;
}